@font-face {
  font-family: "Montserrat";
  src: url(../fonts/Montserrat-VariableFont_wght.ttf);
  font-style: normal;
  font-display: swap;
}

:root {
  --background-primary-color: #ffffff;
  --background-secondary-color: #f5f5f5f5;
  --background-tertiary-color: #000000;

  --botoon-primary-color: #8f0101;
  --botoon-secondary-color: #b81515;

  --text-primary-color: #222222;
  --text-secondary-color: #ffffff;

  --primary-color: #8f0101;
  --secondary-color: #8b1515;

  --titles-weigth: 700;
  --text-weight: 400;
  --menu-text-weigth: 500;
}

/*CSS reset*/
body,
img,
h1,
p,
fieldset,
legend,
label,
input,
textarea,
button {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat";
<<<<<<< HEAD
    color: var(--text-primary-color);
=======
  color: var(--text-primary-color);
}

.section_title h2 {
  font-size: 28px;
  font-weight: var(--titles-weigth);
  margin: 0;
  text-align: center;
}

.section_title hr {
  background-color: var(--secondary-color);
  width: 180px;
  height: 4px;
  border: none;
  margin: 16px auto 32px auto;
}

@media screen and (min-width: 768px) {
  .section_title h2 {
    font-size: 32px;
  }
>>>>>>> 6baf7c4743afa4982dd391819ce21de261708fb9
}

.section_title h2{
  font-size: 28px;
  font-weight: var(--text-weight);
  margin: 0;
  text-align: center;
}

.section_title hr{
  width: 180px;
  height: 4px;
  background-color: var(--botoon-secondary-color);
}