header {
  background-color: var(--background-tertiary-color);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 38px 48px;
  position: relative;
}

.logo {
  display: inline-block;
  width: 68px;
  height: 64px;
}

.logo_mobile {
  display: block;
}

.logo_desktop {
  display: none;
}

input[type="checkbox"]:checked ~ nav {
  display: block;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background-color: var(--background-tertiary-color);
}

nav {
  display: none;
}

.list_link {
  list-style: none;
}
.list_link li {
  margin: 16px 0;
}

.list_link li a {
  color: var(--secondary-ctextolor);
  text-decoration: none;
  font-weight: var(--menu-text-weigt);
  font-size: 24px;
}

@media screen and (min-width: 768px) {
  .menu {
    margin-top: 0;
    width: 467px;
  }
  .menu label {
    display: none;
  }
  .menu nav {
    display: block;
  }
  .menu ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
  }

  .menu li {
    margin: 0;
  }
}

@media screen and (min-width: 1024px) {
  header {
    padding: 38px 120px;
  }

  .logo {
    width: 260px;
    height: 64px;
  }

  .logo_desktop {
    display: block;
  }

  .logo_mobile {
    display: none;
  }
  .menu a:hover {
    color: var(--botoon-primary-color);
  }
}

@media screen and (min-width: 1920px) {
  header {
    padding: 38px 160px;
  }
}
