.hero_img {
  height: 400px;
  width: 100%;
  background-image: url(../IMG/img_mobile.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

@media screen and (min-width: 768px) {
  .hero_img {
    height: 620px;
    width: 100%;
    background-image: url(../IMG/img_tablet.jpg);
    background-size: cover;
    background-repeat: no-repeat;
  }
}

@media screen and (min-width: 1024px) {
  .hero_img {
    height: 620px;
    width: 100%;
    background-image: url(../IMG/img_desktop.jpg);
    background-size: cover;
    background-repeat: no-repeat;
  }
}
