.hero_img {
  height: 400px;
  width: 100%;
  background-image: url(../IMG/img_mobile.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.hero h2 {
  padding: 88px 24px;
  margin: 0px;
  font-weight: var(--text-weigth);
  font-size: 20px;
  text-align: center;
  line-height: 1.5;
}

@media screen and (min-width: 768px) {
  .hero_img {
    height: 620px;
    background-image: url(../IMG/img_tablet.jpg);
    background-repeat: no-repeat;
  }

  .hero h2 {
    padding: 88px 60px;
    font-size: 32px;
  }
}

@media screen and (min-width: 1024px) {
  .hero_img {
    height: 620px;
    background-image: url(../IMG/img_desktop.jpg);

    background-repeat: no-repeat;
  }

  .hero h2 {
    padding: 88px 120px;
  }
}

@media screen and (min-width: 1920px) {
  .hero_img {
    height: 620px;

    background-image: url(../IMG/img_desktop.jpg);
    background-size: cover;
    background-repeat: no-repeat;
  }

  .hero h2 {
    padding: 88px 160px;
  }
}
