@import url("Global.css");
@import url("Header.css");
@import url("hero.css");
<<<<<<< HEAD
@import url("offers.css");
=======
@import url("Offers.css");
>>>>>>> 6baf7c4743afa4982dd391819ce21de261708fb9
